node_modules/
dist/
.env
.env.*
!.env.example
.tokens/
.tmp/
converted-images/
client_secret*.json
020740157700745.*
4db99a76eaef393a91254456eb28969f.*
original-*.webp
ismart_ecommerce_website_home_page__ui_design_in_adobe_photoshop_mockup_4x.webp
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
